@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: rgb(241 245 249);
}

.video-div {
  width: 100%;
  height: 0px;
  position: relative;
  padding-bottom: 56.25%;
}

.video {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

/* Make basic styles for each element that is inside a div with the "blog" class */
.blog > h1 {
  @apply text-4xl font-bold mb-4;
}

.blog > h2 {
  @apply text-3xl font-bold mb-3;
}

.blog > h3 {
  @apply text-2xl font-bold mb-2;
}

.blog > h4 {
  @apply text-xl font-bold mb-1;
}

.blog > p {
  @apply text-base mb-4;
}

